/* 
    Document   : rabotazfonom
    Created on : 08.07.2013, 16:26:33
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image:url(125.jpg);
}

