		<div id="dostavka">
			<p>
				<span style="font-size: small;">
				<strong>По Украине:</strong>
				</span>
			</p>
			<ul>
				<li>
				<em>
				<strong>
					<span style="font-size: small;">По предоплате (любой город):</span>
				</strong>
				</em>
				</li>
			</ul>
			<p>
				<span style="font-size: small;">Оплачивается по тарифам "Нової Пошти" по следующей схеме:</span>
			</p>
			<p>
				<span style="font-size: small;">
				13 грн. за оформление всего заказа + (1,65 грн. х 
				<span>(вес посылки в кг))</span>
				 + 0,5% от стоиомости товара (страховка)
				</span>
			</p>
			<ul>
				<li>
					<em>
					<strong>
					<span style="font-size: small;">Наложенный платеж (любой город):</span>
					</strong>
					</em>
				</li>
			</ul>
			<p>
				<span style="font-size: small;">
				<span>Оплачивается по тарифам "Нової Пошти" по следующей схеме:</span>
				</span>
			</p>
			<p>
				<span style="font-size: small;">
				<span>13 грн. за оформление всего заказа + (1,65 грн. х </span>
				<span>(вес посылки в кг))</span>
				<span> + 0,5% от стоиомости товара (страховка)</span>
				 + комиссия наложенного платежа (
				<span>13 гривен</span>
				+ 2% от стоимости товара).
				</span>
			</p>
			<p>
				<span style="font-size: small;">
				<br>
				</span>
			</p>
			<p style="text-align: center;">
				<strong>
				<span style="font-size: small;">Пожалуйста, проверяйте наличие и целостность упаковки при получении товара! Мы не принимаем вскрытый или поврежденный товар обратно!</span>
				</strong>
			</p>
			<p>
				<span style="font-size: small;">
				<br>
				</span>
			</p>
			<p style="text-align: center;">
				<span style="font-size: small;">
				<em>
				<strong>По всем вопросам, связанными с доставкой обращайтесь по контактным телефонам!</strong>
				</em>
				</span>
			</p>			 
		</div>	
