		<div id="dostavka">
			<p>
				<span style="font-size: small;">
				<strong>2) </strong>
				<strong>РџРѕ РЈРєСЂР°РёРЅРµ:</strong>
				</span>
			</p>
			<ul>
				<li>
				<em>
				<strong>
					<span style="font-size: small;">РџРѕ РїСЂРµРґРѕРїР»Р°С‚Рµ (Р»СЋР±РѕР№ РіРѕСЂРѕРґ):</span>
				</strong>
				</em>
				</li>
			</ul>
			<p>
				<span style="font-size: small;">РћРїР»Р°С‡РёРІР°РµС‚СЃСЏ РїРѕ С‚Р°СЂРёС„Р°Рј "РќРѕРІРѕС— РџРѕС€С‚Рё" РїРѕ СЃР»РµРґСѓСЋС‰РµР№ СЃС…РµРјРµ:</span>
			</p>
			<p>
				<span style="font-size: small;">
				13 РіСЂРЅ. Р·Р° РѕС„РѕСЂРјР»РµРЅРёРµ РІСЃРµРіРѕ Р·Р°РєР°Р·Р° + (1,65 РіСЂРЅ. С… 
				<span>(РІРµСЃ РїРѕСЃС‹Р»РєРё РІ РєРі))</span>
				 + 0,5% РѕС‚ СЃС‚РѕРёРѕРјРѕСЃС‚Рё С‚РѕРІР°СЂР° (СЃС‚СЂР°С…РѕРІРєР°)
				</span>
			</p>
			<ul>
				<li>
					<em>
					<strong>
					<span style="font-size: small;">РќР°Р»РѕР¶РµРЅРЅС‹Р№ РїР»Р°С‚РµР¶ (РІ РѕР±Р»Р°СЃС‚РЅС‹Рµ С†РµРЅС‚СЂС‹):</span>
					</strong>
					</em>
				</li>
			</ul>
			<p>
				<span style="font-size: small;">
				<span>РћРїР»Р°С‡РёРІР°РµС‚СЃСЏ РїРѕ С‚Р°СЂРёС„Р°Рј "РќРѕРІРѕС— РџРѕС€С‚Рё" РїРѕ СЃР»РµРґСѓСЋС‰РµР№ СЃС…РµРјРµ:</span>
				</span>
			</p>
			<p>
				<span style="font-size: small;">
				<span>13 РіСЂРЅ. Р·Р° РѕС„РѕСЂРјР»РµРЅРёРµ РІСЃРµРіРѕ Р·Р°РєР°Р·Р° + (1,65 РіСЂРЅ. С… </span>
				<span>(РІРµСЃ РїРѕСЃС‹Р»РєРё РІ РєРі))</span>
				<span> + 0,5% РѕС‚ СЃС‚РѕРёРѕРјРѕСЃС‚Рё С‚РѕРІР°СЂР° (СЃС‚СЂР°С…РѕРІРєР°)</span>
				 + РєРѕРјРёСЃСЃРёСЏ РЅР°Р»РѕР¶РµРЅРЅРѕРіРѕ РїР»Р°С‚РµР¶Р° (
				<span>13 РіСЂРёРІРµРЅ</span>
				+ 2% РѕС‚ СЃС‚РѕРёРјРѕСЃС‚Рё С‚РѕРІР°СЂР°).
				</span>
			</p>
			<p>
				<span style="font-size: small;">
				<br>
				</span>
			</p>
			<p style="text-align: center;">
				<strong>
				<span style="font-size: small;">РџРѕР¶Р°Р»СѓР№СЃС‚Р°, РїСЂРѕРІРµСЂСЏР№С‚Рµ РЅР°Р»РёС‡РёРµ Рё С†РµР»РѕСЃС‚РЅРѕСЃС‚СЊ СѓРїР°РєРѕРІРєРё РїСЂРё РїРѕР»СѓС‡РµРЅРёРё С‚РѕРІР°СЂР°! РњС‹ РЅРµ РїСЂРёРЅРёРјР°РµРј РІСЃРєСЂС‹С‚С‹Р№ РёР»Рё РїРѕРІСЂРµР¶РґРµРЅРЅС‹Р№ С‚РѕРІР°СЂ РѕР±СЂР°С‚РЅРѕ!</span>
				</strong>
			</p>
			<p>
				<span style="font-size: small;">
				<br>
				</span>
			</p>
			<p style="text-align: center;">
				<span style="font-size: small;">
				<em>
				<strong>РџРѕ РІСЃРµРј РІРѕРїСЂРѕСЃР°Рј, СЃРІСЏР·Р°РЅРЅС‹РјРё СЃ РґРѕСЃС‚Р°РІРєРѕР№ РѕР±СЂР°С‰Р°Р№С‚РµСЃСЊ РїРѕ РєРѕРЅС‚Р°РєС‚РЅС‹Рј С‚РµР»РµС„РѕРЅР°Рј!</strong>
				</em>
				</span>
			</p>			 
		</div>	