            <div class="container">
               <div id="brands">
			      <a>ВСЕ ПРОИЗВОДИТЕЛИ</a>
               </div><!--brands-->
                <div class="sort">
                    Сортировать по
                    <a class="selected" href="#">цене</a>
                    <a href="#">названию</a>
                </div><!--sort-->
                <ul class="tiny_products" id='grid'>
                </ul>
            </div><!--container-->
