            <div class="container">
               <div id="brands">
			      <a>ВСЕ ПРОИЗВОДИТЕЛИ</a>
               </div><!--brands-->
                <div class="sort">
                    Сортировать по
                    <a onClick='regenerate_grid("sort_by_price"); return false;'>цене</a>
                    <a onClick='regenerate_grid("sort_by_name"); return false;'>названию</a>
                </div><!--sort-->
                <ul class="tiny_products" id='grid'>
                </ul>
            </div><!--container-->
