<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Магазин спортивного питания</title>
<?php

switch($content) {
   case 'slider':

?>
        <link href='styles/style.css' rel='stylesheet' type='text/css' />
        <link href="styles/slider.css" rel="stylesheet" type="text/css"/>
        <script src='js/script.js'></script>
<?php

   break;
   case 'grid':

?>
        <link href="styles/grid.css" rel="stylesheet" type="text/css"/>
		<link href="styles/style.css" rel="stylesheet" type="text/css"/>
		<script src='js/grid.js'></script>
		<script src="index.php?jsonp=parseResponse&<?= key($request) ?>=<?= current($request) ?>"></script>
		<script>
		  window.onload = function() {
		      generate_producers(document.getElementById('brands'));

		      _grid = document.getElementById('grid');
		      regenerate_grid();
		  };
		</script>
<?php

   break;
}

?>

    </head>
    <body> 
        <div id="wrap">
            <div id="header">
                <div id="header_top">
                   <a href="index.php"><h1 id="name">Название магазина</h1></a>
                    <div id="life">
                        <img src="img/t4.png"><span>(063)00-000-00</span> 
                    </div><!--end life-->
                    <div id="kyivstar">
                        <img src="img/t3.png"><span>(097)00-000-00</span>
                    </div><!--end kyivstar-->
                </div><!--end header_top-->
                <div id="header_bottom">
                    <div class="light">
                        <form>
                            <span><input type="text" class="search square" name="search"><input type="submit" value="Search"></span>
                        </form>
                    </div><!--end light-->
                    <div id="cart">
                        <div class="top-cart">
                        <span class="cart-icon">
                            <img src="img/cart.png">
                        </span>
                        <span class="empty">
                            <span class="shop-title">В корзине нет товаров</span>
                            <span class="shop-total"></span>
                        </span>
                        </div><!--end top-cart-->
                    </div><!--end cart-->
                </div><!--end header_bottom-->
            </div><!--end header-->
<div id="menulist">
  <ul>
    <li><a href="#">Главная</a></li>
    <li><a href="#">Категории</a>
       <ul>
<?php

foreach ($sorted_categories as $c) {
    print '<li><a href="?category=' . $c . '">' . $c . "</a><li>\n";
}

?>
       </ul>
    </li>
    <li><a href="#">Доставка</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</div><!--end menulist-->
<?php

switch($content) {
   case 'slider':
       require_once('templates/slider.tmpl');
       break;
   case 'grid':
       require_once('templates/grid.tmpl');
       break;
}

?>
            <div class="footer_top">
                <div class="footer_block">
                    <h3>Вредно ли Спортивное питание?!</h3> 
                    <ul>
                        <li><a target="_blank" href="http://www.youtube.com/watch?v=awOx6sbl6Q4">Полезные факты о спортивном питании.</a>
                        <li><a target="_blank" href="http://www.youtube.com/watch?v=vQwiFV3xsIY">Сергей Бадюк о спортивном питании!!!</a>
                        <li><a target="_blank" href="http://www.youtube.com/watch?v=x-dVwvS5p1s">Протеин - основа спортивного питания. Виды протеина.</a>
                        <li><a target="_blank" href="http://www.youtube.com/watch?v=jL_aaRmcNyQ">Спортивное питание. Углеводы и гейнеры.</a>
                    </ul>
                    </div><!--end footer_block-->
                <div class="footer_block1">
                    <h3>Контакты:</h3>

                    <ul>
                        <li>
                            <p><strong>Телефон:</strong>(097)00-000-00   (063)00-000-00</p>
                        </li>
                        <li>
                            <p><strong>E-mail:</strong>blablabla@mail.ru</p>
                        </li>
                        <li>
                            <p><strong>Мы ВКонтакте:</strong><a target="_blank" href="http://vk.com/protein_proteini4">Владимир Гридяков</a></p>
                        </li>
                        <li>
                            <p><strong>Website:</strong>index.php</p>
                        </li>
                    </ul>
                </div><!--end footer_block-->
                <div class="clear"></div>
            </div><!--end footer_top-->
            <div id="footer_bottom">
                <ul id="footer_nav">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <div class="clear"></div>
            </div><!--end footer_bottom-->
      </div><!--end wrap-->
    </body>
</html>
