<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Магазин спортивного питания</title>
        <link href="../styles/reshetka.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div id="header_top">
                   <a href="index.html"><h1 id="name">Название магазина</h1></a>
                    <div id="life">
                        <img src="../img/t4.png"><span>(063)00-000-00</span> 
                    </div><!--end life-->
                    <div id="kyivstar">
                        <img src="../img/t3.png"><span>(097)00-000-00</span>
                    </div><!--end kyivstar-->
                </div><!--end header_top-->
                <div id="header_bottom">
                    <div class="light">
                        <form>
                            <span><input type="text" class="search square"><input type="button" value="Search"></span>
                        </form>
                    </div><!--end light-->
                    <div id="cart">
                        <div class="top-cart">
                        <span class="cart-icon">
                            <img src="../img/cart.png">
                        </span>
                        <span class="empty">
                            <span class="shop-title">В корзине нет товаров</span>
                            <span class="shop-total"></span>
                        </span>
                        </div><!--end top-cart-->
                    </div><!--end cart-->
                </div><!--end header_bottom-->
            </div><!--end header-->
             <div id="menulist">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Категории</a>
                     <ul>

                    </ul>
                    </li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div><!--end menulist-->
            <div class="container">
               <div id="brands">
                    <a class="selected" href="#">Все бренды</a>
                    <a href="#1" >Dymatize</a>
                    <a href="#2">Fitness Authority </a>
                    <a href="#" >Hi-Tec</a>
                    <a href="#" >INNER ARMOUR BLACK</a>
                    <a href="#" >Ironmaxx</a>
                    <a href="#" >MHP</a>
                    <a href="#" >Muscle Tech</a>
                    <a href="#" >Olimp Labs</a>
                    <a href="#">Optimum Nutrition</a>
                    <a href="#" >Pharma First </a>
                    <a href="#" >Pro Nutrition</a>
                    <a href="#" >Scitec Nutrition</a>
                    <a href="#" >Syntrax</a>
                    <a href="#" >TREC Nutrition</a>
                    <a href="#" >Universal</a>
                    <a href="#" >Weider</a>
                    <a href="#" >Ванситон</a>
                    <a href="#" >фортоген</a>
               </div><!--brands-->
                <div class="sort">
                    Сортировать по
                    <a class="selected" href="#">цене</a>
                    <a href="#">названию</a>
                </div><!--sort-->
                <ul class="tiny_products">
                    <li class="product">
                        <div class="image">
                            <a href="#">
                                <img src="../img/111.jpg" alt="muscltech">
                            </a>
                        </div>
                        <div class="product_info">
                            <h3 class="info">
                                <a href="#">
                                    Muscle Tech PHASE 8 907 грамм (2,0 lb)
                                </a>
                            </h3>
                            <form class="variants" action="/cart">
                                <span class="price">
                                    270,00
                                    <span class="currency">грн.</span>
                                </span>
                                <input class="button" type="submit" data-result-text="добавлено" value="в корзину">
                            </form>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image">
                            <a href="#">
                                <img src="../img/112.jpg" alt="elite">
                            </a>
                        </div>
                        <div class="product_info">
                            <h3 class="info">
                                <a href="#">
                                    Dymatize Elite Casein 1818 грамм
                                </a>
                            </h3>
                            <form class="variants" action="/cart">
                                <span class="price">
                                    540,00
                                    <span class="currency">грн.</span>
                                </span>
                               <input class="button" type="submit" data-result-text="добавлено" value="в корзину"> 
                            </form>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image">
                            <a href="#">
                                <img src="../img/113.jpg">
                            </a>
                        </div>
                        <div class="product_info">
                            <h3 class="info">
                                <a href="#">
                                Dymatize Dymatize Elite 12hr 2000грамм
                                </a>
                            </h3>
                            <form class="variants" action="/cart">
                                <span class="price">
                                    500,00
                                    <span class="currency">грн.</span>
                                    <input class="button" type="submit" data-result-text="добавлено" value="в корзину"> 
                                </span>
                            </form>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image">
                            <a href="#">
                                <img src="../img/221.jpg">
                            </a>
                        </div>
                        <div class="product_info">
                            <h3 class="info">
                                <a href="#">
                                Dymatize Dymatize Elite 12hr 1000грамм
                                </a>
                            </h3>
                            <form class="variants" action="/cart">
                                <span class="price">
                                    510,00
                                    <span class="currency">грн.</span>
                                    <input class="button" type="submit" data-result-text="добавлено" value="в корзину"> 
                                </span>
                            </form>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image">
                            <a href="#">
                                <img src="../img/222.jpg">
                            </a>
                        </div>
                        <div class="product_info">
                            <h3 class="info">
                                <a href="#">
                                Syntrax Micellar Creme</br>
                                912 гр
                                </a>
                            </h3>
                            <form class="variants" action="/cart">
                                <span class="price">
                                    260,00
                                    <span class="currency">грн.</span>
                                    <input class="button" type="submit" data-result-text="добавлено" value="в корзину"> 
                                </span>
                            </form>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image">
                            <a href="#">
                                <img src="../img/223.jpg">
                            </a>
                        </div>
                        <div class="product_info">
                            <h3 class="info">
                                <a href="#">
                                Weider 100% Casein </br>
                                1.8 кг
                                </a>
                            </h3>
                            <form class="variants" action="/cart">
                                <span class="price">
                                    580,00
                                    <span class="currency">грн.</span>
                                    <input class="button" type="submit" data-result-text="добавлено" value="в корзину"> 
                                </span>
                            </form>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image">
                            <a href="#">
                                <img src="../img/331.jpg">
                            </a>
                        </div>
                        <div class="product_info">
                            <h3 class="info">
                                <a href="#">
                                Scitec Nutrition 100% Casein Complex 5 кг
                                </a>
                            </h3>
                            <form class="variants" action="/cart">
                                <span class="price">
                                    1 030,00
                                    <span class="currency">грн.</span>
                                    <input class="button" type="submit" data-result-text="добавлено" value="в корзину"> 
                                </span>
                            </form>
                        </div>
                    </li>
                     <li class="product">
                        <div class="image">
                            <a href="#">
                                <img src="../img/332.jpg">
                            </a>
                        </div>
                        <div class="product_info">
                            <h3 class="info">
                                <a href="#">
                                Scitec Nutrition 100% Casein Complex - 2350 грамм
                                </a>
                            </h3>
                            <form class="variants" action="/cart">
                                <span class="price">
                                    570,00
                                <span class="currency">грн.</span>
                                    <input class="button" type="submit" data-result-text="добавлено" value="в корзину"> 
                                </span>
                            </form>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image">
                            <a href="#">
                                <img src="../img/333.jpg">
                            </a>
                        </div>
                        <div class="product_info">
                            <h3 class="info">
                                <a href="#">
                                Scitec Nutrition 100% Casein Complex - 920 грамм
                                </a>
                            </h3>
                            <form class="variants" action="/cart">
                                <span class="price">
                                    250,00
                                <span class="currency">грн.</span>
                                    <input class="button" type="submit" data-result-text="добавлено" value="в корзину"> 
                                </span>
                            </form>
                        </div>
                    </li>
                </ul>
            </div><!--container-->
            <div class="footer_top">
                <div class="footer_block">
                    <h3>Вредно ли Спортивное питание?!</h3> 
                    <ul>
                        <li><a target="_blank" href="http://www.youtube.com/watch?v=awOx6sbl6Q4">Полезные факты о спортивном питании.</a>
                        <li><a target="_blank" href="http://www.youtube.com/watch?v=vQwiFV3xsIY">Сергей Бадюк о спортивном питании!!!</a>
                        <li><a target="_blank" href="http://www.youtube.com/watch?v=x-dVwvS5p1s">Протеин - основа спортивного питания. Виды протеина.</a>
                        <li><a target="_blank" href="http://www.youtube.com/watch?v=jL_aaRmcNyQ">Спортивное питание. Углеводы и гейнеры.</a>
                    </ul>
                    </div><!--end footer_block-->
                <div class="footer_block1">
                    <h3>Контакты:</h3>

                    <ul>
                        <li>
                            <p><strong>Телефон:</strong>(097)00-000-00   (063)00-000-00</p>
                        </li>
                        <li>
                            <p><strong>E-mail:</strong>blablabla@mail.ru</p>
                        </li>
                        <li>
                            <p><strong>Мы ВКонтакте:</strong><a target="_blank" href="http://vk.com/protein_proteini4">Владимир Гридяков</a></p>
                        </li>
                        <li>
                            <p><strong>Website:</strong>index.php</p>
                        </li>
                    </ul>
                </div><!--end footer_block-->
                <div class="clear"></div>
            </div><!--end footer_top-->
            <div id="footer_bottom">
                <ul id="footer_nav">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <div class="clear"></div>
            </div><!--end footer_bottom-->
      </div><!--end wrap-->
    </body>
</html>
