            <div class="slider" id="slider">
                <div class="holder">
                    <a href='#'><img src="img/slide-01.jpg"></a><a href='#'><img src="img/slide-14.jpg"></a><a href='#'><img src="img/slide-15.jpg"></a>
                </div><!--end holder-->
           </div><!--end slider-->
