#ukraine{
font-size:20px;
color:#000;
margin-left:30px;
}
.predoplata{
    font-size:17px;
    color:#3399ff;
    font-style: italic;
    margin-left:40px;
}
.text{
    font-size:16px;
    margin-left:30px;
    color:#000;
}