
/*Items list*/

#content {
    float:left;
    margin-bottom: 20px;
    width: 680px;
}

#brands {
  width:700px;
  margin-left:40px;
}
#brands a.selected {
    background-color:#000000;
    color: #FFFEFF;
    padding: 2px;
}
#brands a {
    color:#2774a4;
    font-size: 12px;
    margin-right: 10px;
}
#brands a:hover {
    color: #4CCCF1;
}
a:hover {
	cursor: pointer;
}
.sort {
    color: #000000;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin-left:40px;
    margin-top:10px;
    padding-left:5px;
    text-decoration:#00f;
  
}
.sort .selected {
    color: #007cbd;
    margin-right: 5px;
    text-decoration: none;
}
.sort a{
    color:#2774a4;
    text-decoration:#2774a4;
}
.sort a:hover{
    color:#871b15;

}
.tiny_products {
    display: block;
    list-style: none outside none;
    width:1000px
}
.tiny_products .product {
    display: inline-block;
    margin-bottom:0px;
    margin-right: 10px;
    margin-top:40px;
    margin-left:40px;
    vertical-align: top;
    width: 210px;
    word-spacing: normal;
}
.tiny_products .product .image {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    height: 200px;
    line-height: 200px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
}
.product .price {
    font-size: 18px;
    white-space: nowrap;
}
.product .add_to_cart, .button {
    background-color:#2774a4;
    border-style: none;
    border-width: 0;
    color: #FFFEFF;
    cursor: pointer;
    font: 12px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    height: 42px;
    margin: 10px auto;
    width: 70px;
}
