/*
Site theme
Version 1.0.0
Author MaD
*/
@import url("reset.css");
/*General Styles*/
html{
    height:100%
}
body{
    background:#ffffff;
    font-family: Arial, Helvetica, sens-serif;
    color:#2774a4;
    min-height:100%;
    padding-top:30px;
}
p{
    font-size:15px;
    color:#2774a4;
}
a{
    text-decoration: none;
    outline: none;
    color:#006699;
    font-size:15px;
}
a img{
    border:none;
}
a:hover{
    text-decoration: none;
    outline: none;
    color:#4CCCF1;
    font-size:15px;
}
#wrap{
    width:1150px;
    background:url(../img/fon.png) repeat scroll left top transparent;
    margin:0 auto;
}
.clear{
    clear:both;
}
/*#enter{
    display:none;
}
/*Header*/
#header{
    background:url(../img/fon.png) repeat scroll left top transparent;
    height:265px;
}
#header_top{
    height:135px;
}
#header_bottom{
    border-top: 3px #006699 solid;
    height:127px;
}
/*Zagolovok*/
#header_top h1{
    font-size:30px;
    text-transform:uppercase;
    float:left;
    display:inline-block;
    font-weight:900;
    margin:50px 25px 0 74px;
  
}


/*Kontakti_TOP*/
#life{
  float:right;
  margin:60px 100px 0 0;
}
#life span{
    margin-left:7px;
    position:relative;
    top:-7px;
    font-size:18px;
}

#kyivstar{
float:right;
margin:60px 50px 0 0;
}
#kyivstar span{
    margin-left:7px;
    position:relative;
    top:-7px;
    font-size:18px;
}
/*Search*/
form{
    width:300px;
    margin:20px;
}
.search {
    padding:6px 15px 6px 30px;
    margin:3px;
    background:url(../img/sprites1.png)no-repeat 8px 6px;
}
input[type=text]{
    color:#2774a4;
}
input[type=text]:focus{
    outline:none;
    
}
.square{
border-bottom-left-radius: 3px;
border-bottom-right-radius: 0;
border-top-left-radius: 3px;
border-top-right-radius: 0;
}

input[type=button], input[type=button]:hover {
    position:relative;
    left:-6px;
    border:1px solid #adc5cf;
    background: #006699; /* Old browsers */
    background: -moz-linear-gradient(top, #006699 0%, #006699 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006699), color-stop(100%,#006699)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #006699 0%,#006699 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #006699 0%,#006699 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #006699 0%,#006699 100%); /* IE10+ */
    background: linear-gradient(top, #006699 0%,#006699 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006699', endColorstr='#006699',GradientType=0 ); /* IE6-9 */
    color:#FFFFFF;
    cursor: pointer;
    height:30px;
    border-left:none;
}
.light input[type=text]{
    border:1px solid #acb1b7;
    background-color:#ffffcc;
    
    
}
/*korzina*/
#cart{
    float:left;
    width:160px;
    padding:8px;
    margin:-55px 400px;
    border-radius:3px 3px 3px 3px;
    border:1px solid #2774a4;
    background-color:#ffffcc;
    cursor:pointer;
}
.shop-title {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color:#2774a4;
}
#cart .cart-icon{
   vertical-align:bottom;
   line-height:15px;
}


/*formaLogina*/
#login{
    float:right;
    margin:-50px 70px 0px 0px;
}
/*slider*/
#slider{
  float:left;
  margin-left:30px;
}
/*menuNavigation*/
#menulist ul{
float:right;
padding:0px;
list-style:none;
width:200px;
height:500px;
}
#menulist  ul li {
  position: relative;
  border-bottom:1px solid #ccc;
}
#menulist li ul {
  position:absolute;
  right: 200px;
  
  top: 0;
  display: none;
}
#menulist ul li a{
    display:block;
    text-decoration:none;
    color:#FFFFFF;
    background:#006699;
    padding:10px;   
}
#menulist li:hover ul{
    padding:5px;
    display:block;
}
#menulist li:hover a{
    color:#ffffff;
    background-color:#4CCCF1;
}
/*Footer*/
.footer_top{
    height:250px;
    margin:200px 15px 15px 15px;
}
.footer_block{
    float:left;
    padding:50px;
    line-height:30px;
}
#footer_nav{
    overflow:hidden;
    zoom:1;
    margin:24px 830px 30px 24px;
    float:right;
}
    #footer_nav li{
    float:left;
    border-left:1px solid #2774a4;
    padding:0 25px 0 10px;
    margin:0 1px 0 -1px;   
}
.footer_block1{
    float:left;
    line-height:30px;
    margin-left:150px;
    margin-top:50px;
    
}
.footer_block1 h3{
    font-size:25px;
    color:#000000;
    border-bottom:1px solid #006699;
    margin-bottom:18px;
    padding-bottom:15px;
    text-transform:uppercase;
}

    

.footer_block h3{
    font-size:25px;
    color:#000000;
    border-bottom:1px solid #006699;
    margin-bottom:18px;
    padding-bottom:15px;
    text-transform:uppercase;
}
/*STILI DLYA FORMI POISKA*/
